#birdSection {
  text-align: center;
  grid-column: 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.birds.card {
  background-color: aquamarine;
  box-shadow: 5px 5px 5px black;

  img {
    width: 100%;
    height: 100%;
  }

  Button {
    margin-top: 3%;
    width: 100%;
  }
}
