#birdSection {
  border: 5px solid blue;
  text-align: center;
  grid-column: 2;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.birdArticle.card.birds {
  background-color: aquamarine;
  box-shadow: 5px 5px 5px black;
}
.birdArticle.card.birds img {
  width: 100%;
  height: 100%;
}
.birdArticle.card.birds Button {
  margin-top: 3%;
  width: 100%;
}