div {
	background-color: brown;
}
section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 10px;
	padding: 10px;
	grid-gap: 9px;
	justify-content: center;
	border: 2px solid black;
}
img {
	width: 150px;
	height: 150px;
}
button {
	background-color: darkgreen;
	justify-content: center;
}
label {
	text-align: center;
}
div.left {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 5px;
	border: 2px solid rgb(24, 123, 138);
	grid-gap: 5px;
}
.hidden {
	visibility: hidden;
}
.parent {
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-template-rows: 1fr 1fr;
}
.birds {
	border: 2px solid blue;
	justify-content: center;
	text-align: center;
}
