.card {
    border: 2px solid black;
    background-color: lightskyblue;
    margin: 5px;
    max-width: 200px;
    text-align: center;
}

.adopt-button {
    background-color: lightgrey;
}

.submit-button {
    background-color: white;
}

.birds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
}

.Cart,
.Checkout {
    border: 2px solid black;
    background-color: lightgrey;
    margin: 5px;
    text-align: center;
}

.app {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 30px
}