body {}
main {
  width: 80%;margin: auto;
  display: grid;grid-template-columns: 1fr 2fr;gap: 2px;
}
main aside {}
main article {
  margin: 0;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: repeat(1fr);gap: 10px;
}
main article .card {
  width: auto;
}
main article .card img {
  width: 50%;height: 50%; margin: auto;
}